In [ ]:
num=10
count=0
for i in range(1,11):
  if(num%i==0):
    print("factor is :",i)
    count+=1
print("no of factors are",count)

factor is : 1
factor is : 2
factor is : 5
factor is : 10
no of factors are 4

In [ ]:
#Prime number
num=8
count=0
print("number is:",num)
for i in range(1,num+1):
  if(num%i==0):
    count+=1
    print("factors are:",i)
if(count>2):
  print("Hence not prime")
else:
  print("hence Prime")

number is: 8
factors are: 1
factors are: 2
factors are: 4
factors are: 8
Hence not prime

In [ ]:
for i in range(1,4):
  if(i==3):
    break
  print("loop",i)
print("Akshat")

loop 1
loop 2
Akshat

In [ ]:
num=9
for i  in range(2,num):
  if(num%i==0):
    print("Not a prime", num)
    break
else:
  print("prime",num)

Not a prime 9

In [ ]:
num=7
a=0       #indicator variable
for i in range(2,num):
  if(num%i==0):
    a=1
    break
if(a==1):
  print("not prime",num)
else:
  print("Prime")

Prime

In [ ]:
# WHILE LOOP (Number of iterations are not specified)

In [ ]:
i=3
while(i<6):
  print("hey ",i)
  i+=1

hey  3
hey  4
hey  5

In [ ]:
i=1
total=0
while(i<101):
  total=total+i
  i+=1
print(total)

5050

In [ ]:
i=20
while(i<41):
  if(i%3==0):
    print(i)
  i+=1

21
24
27
30
33
36
39

In [ ]:
i=98
count=0
while(i>=58):

  i-=1
  count+=1
print(count)

41

In [ ]:
num=169
count=0
while(num>0):
  rem1=num%10
  num=num//10
  count+=1

  print(rem1,num)
print("count of digits",count)

9 16
6 1
1 0
count of digits 3

In [ ]:
num=123
sum=0
while(num>0):
  rem1=num%10
  num=num//10
  sum=sum+rem1
print(sum)

6

In [ ]:
#ARMSTRONG
num=153
num1=num
total=0

while(num>0):
  rem=num%10
  num=num//10
  print(rem,rem**3)
  total=total+(rem**3)
print(total)

print()

if(total==num1):
  print("ARMSTRONG")
else:
  print("NOT ARMSTRONG")

3 27
5 125
1 1
153

ARMSTRONG

In [ ]:
x=256
y=256

print(id(x), id(y))

#data value from zero to 256 adress are same

10759016 10759016

In [ ]:
x=10
y=x
print(id(x), id(y))

10751144 10751144

In [ ]:
#PALINDROME NUMBER OR STRING
s="NAMAN"
i=0
end=len(s)-1
a=0
while(i<end):

  if(s[i]!= s[end]):
    a=1
    break
  i+=1
  end-=1

if(a==1):
  print("Not a palandrome",s)
else:
  print("A palandrome",s)

A palandrome NAMAN

In [ ]:
#SLICING & INDEXING
city="JAIPUR"
city[-6]
city[0:4]

'JAIP'

In [ ]:
city="JAIPUR"
city[0:3]

'JAI'

In [ ]:
city="JAIPUR"
city[2:6:2]

'IU'

In [ ]:
city="JAIPUR"
city[-1:-3:-1]

'RU'

In [ ]:
# NESTED FOR LOOP

In [ ]:
for i in range(1,5):
  print("--Student",i)



  for j in range(1,5):
    print("--Subject",j)

  print()

--Student 1
--Subject 1
--Subject 2
--Subject 3
--Subject 4

--Student 2
--Subject 1
--Subject 2
--Subject 3
--Subject 4

--Student 3
--Subject 1
--Subject 2
--Subject 3
--Subject 4

--Student 4
--Subject 1
--Subject 2
--Subject 3
--Subject 4

In [ ]:
for i in range(4,1,-1):
  print("--Student",i)



  for j in range(1,5):
    print("--Subject",j)
  print()

--Student 4
--Subject 1
--Subject 2
--Subject 3
--Subject 4

--Student 3
--Subject 1
--Subject 2
--Subject 3
--Subject 4

--Student 2
--Subject 1
--Subject 2
--Subject 3
--Subject 4

In [ ]:
for i in range(1,5):
  print("--Student",i)



  for j in range(1,i+1): #to print sub equal to student number 1 for 1, 2 for 2
    print("Subject",j)
  print()

--Student 1
Subject 1

--Student 2
Subject 1
Subject 2

--Student 3
Subject 1
Subject 2
Subject 3

--Student 4
Subject 1
Subject 2
Subject 3
Subject 4

In [ ]:
for i in range(1,5):
  print("--Student",i)



  for j in range(i,5):
    print("--Subject",j)
  print()

--Student 1
--Subject 1
--Subject 2
--Subject 3
--Subject 4

--Student 2
--Subject 2
--Subject 3
--Subject 4

--Student 3
--Subject 3
--Subject 4

--Student 4
--Subject 4

In [ ]:
for i in range(1,5):
  print("--Student",i)



  for j in range(1,5-i +1):
    print("--Subject",j)
  print()

--Student 1
--Subject 1
--Subject 2
--Subject 3
--Subject 4

--Student 2
--Subject 1
--Subject 2
--Subject 3

--Student 3
--Subject 1
--Subject 2

--Student 4
--Subject 1

In [ ]:
for i in range(1,5):
  print("--Student",i)



  for j in range(1,5):
    print("--Subject",j)
  print()

  print("Tea Break")
  print()

--Student 1
--Subject 1
--Subject 2
--Subject 3
--Subject 4

Tea Break

--Student 2
--Subject 1
--Subject 2
--Subject 3
--Subject 4

Tea Break

--Student 3
--Subject 1
--Subject 2
--Subject 3
--Subject 4

Tea Break

--Student 4
--Subject 1
--Subject 2
--Subject 3
--Subject 4

Tea Break

In [ ]:
for i in range(1,5):
  print("--Student",i)



  for j in range(1,5-i+1):
    print("--Subject",j,end=" ")
  print()

--Student 1
--Subject 1 --Subject 2 --Subject 3 --Subject 4
--Student 2
--Subject 1 --Subject 2 --Subject 3
--Student 3
--Subject 1 --Subject 2
--Student 4
--Subject 1

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print("*",end=" ")
  print("")

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(i,end=" ")
  i+=1
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(j,end=" ")
    j+=1
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,5):
  for j in range(4,0,-1):
    print(j,end=" ")
    j-=1
  print()

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [ ]:
for i in range(4,1,-1):
  for j in range(1,5):
    print(i,end=" ")
  i-=1
print()

4 4 4 4
3 3 3 3
2 2 2 2

In [ ]:
num=1
for i in range(1,4):
  for j in range(1,4):
    print(num,end=" ")
    num+=1
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(j,end=" ")
    j+=1
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3

In [ ]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j+3,end=" ")
  print()

4
4 5
4 5 6

In [ ]:
x=4
for i in range(1,4):

  for j in range(1,i+1):
    print(x,end=" ")
  x-=1
  print()

4
3 3
2 2 2

In [ ]:
for i in range(4,0,-1):
  for j in range(i):
    print("*",end=" ")

  print()

* * * *
* * *
* *
*

In [ ]:
x=10
for i in range(1,4):
  for j in range(1,i+1):
    print(x,end=" ")
    x+=1
  print()

10
11 12
13 14 15

In [ ]:
x=10
for i in range(1,4):
  for j in range(i+1):
    print(x+j,end=" ")
  x+=1
  print()

10 11
11 12 13
12 13 14 15

In [ ]:
for i in range(1,6):
  for j in range(i):
    print("-",end=" ")

-
- -
- - -
- - - -
- - - - -

In [ ]:
for i in range(1,6):
  for k in range(1,5-i+1):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(i):
    print("-",end=" ")

  for k in range(1,5-i+1):
    print("*",end=" ")

  print()

- * * * *
- - * * *
- - - * *
- - - - *
- - - - -

In [ ]:
for i in range(1,6):
  for j in range(1,5-i+1):
    print("-",end=" ")

  for k in range(i):
    print("*",end=" ")
  print()

- - - - *
- - - * *
- - * * *
- * * * *
* * * * *

In [ ]:

for i in range(1,6):
  x=65
  for j in range(1,i+1):
    print(j,end=" ")

  for k in range(1,5-i+1):
    print(chr(x),end=" ")
    x+=1
  print()

1 A B C D
1 2 A B C
1 2 3 A B
1 2 3 4 A
1 2 3 4 5

In [ ]:
for i in range(1,5):
  for j in range(0,i+1):
    print(" ",end=" ")

  for k in range(1,5-i+1):
    print("*",end=" ")

  print()

    * * * *
      * * *
        * *
          *

In [ ]:
for i in range(1,6):
  for k in range(1,i+1):
    if(k==1 or i==5 or i==k):
      print("*",end=" ")
    else:
      print("-",end=" ")
  print()

*
* *
* - *
* - - *
* * * * *

In [ ]:
for i in range(5,0,-1):
  for k in range(1,i+1):
    if(k==1 or i==5 or i==k):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*     *
*   *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(i-1):
    print("-",end=" ")

  for k in range(1,6):
    if(k==5 or i==1 or k==i):
      print("*", end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
-   *     *
- -     *   *
- - -       * *
- - - -         *

In [ ]:
for i in range(1,6):
  for k in range(1,6):
    if(k==5 or i==1 or k==i):
      print("*", end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
x = 'Hello, Wohrld hhh! '
result = ("H ' in x)
print(result)

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-1-95f7960367cd>, line 2)

In [ ]:


a = 15
b = 10
result = a && b
print(result)

SyntaxError: invalid syntax (<ipython-input-3-ecfaefde3de0>, line 3)

In [ ]:
for i in range(1,51):
  if(i%2==0):
    if(i%3==0):
      if(i%6==0):
        print("Numbers Divisible by 2,3 & 6 are:",i)

Numbers Divisible by 2,3 & 6 are: 6
Numbers Divisible by 2,3 & 6 are: 12
Numbers Divisible by 2,3 & 6 are: 18
Numbers Divisible by 2,3 & 6 are: 24
Numbers Divisible by 2,3 & 6 are: 30
Numbers Divisible by 2,3 & 6 are: 36
Numbers Divisible by 2,3 & 6 are: 42
Numbers Divisible by 2,3 & 6 are: 48

In [ ]:
num=2

count=0
while(count<=3):
  a=0
  for i in range(2,num):
    if(num%i==0):
      a=1
      break

    if(a==1):
      print(" not a Prime number",num)
    else:
      print("prime",num)
    count+=1
  num+=1

prime 3
prime 5
prime 5
prime 5

In [ ]:
num=43332
sum=0
while(num>0):
  digit=num%10
  sum=sum+digit
  num=num//10
print(sum)

15

In [ ]:
input='43213'
vowels={'a','e','i','o','u'}
count=0
for char in input:
  if char in vowels:
    count+=1

print(count)

0

In [ ]:
num=1634

num_str=str(num)
sum=0
power=len(num_str)

for digit in num_str:
  digit=int(digit)
  sum=sum+(digit**power)

if(num==sum):
  print(": Narcissistic Number")

else:
  print( " not a Narcissistic Number")

: Narcissistic Number

In [ ]:
for i in range(0,5):
  for j in range(i):
    print("#",end="")
  print()

for i in range(3,0,-1):
  for j in range(i):
    print("#",end="")
  print()

#
##
###
####
###
##
#

In [ ]:
s='regex'
mid=len(s)
half=mid//2
if(mid%2==0):
  a=s[:half]
  b=s[half:]
else:
  a=s[:half]
  b=[]

if(a==b):
  print("Symmetry")
else:
  print("not a symmetry")

Symmetry

In [ ]:
n=int(input("Enter the number"))
sum=0
for i in range(1,n):
  if(i%2!=0):
    sum+=i
print(sum)

Enter the number7
9

In [4]:
num=int(input("Enter the number"))
num1=str(num)
print(num1[0])
print(num1[-1])

Enter the number1234
1
4

In [8]:
#Q9
num=int(input("Enter the number"))
num1=str(num)
sum=0
print(num1[0])
print(num1[-1])
sum=int(num1[0])+int(num1[-1])
print(sum)

Enter the number123
1
3
4

In [9]:
#Q10
num=int(input("Enter the number"))
rev=0
while(num>0):
  digit=num%10
  rev=rev*10+digit
  num=num//10

print(rev)

Enter the number123
321

In [13]:
#Q11
base=int(input("enter the base"))
power=int(input("enter the power"))
ans=0
for i in range(power):
  ans=base**power
print (ans)

enter the base5
enter the power3
125

In [15]:
#Q12
n=int(input("enter the number"))
for i in range(i,n+1):
  if(n%i==0):
    print("The factors are =>",i)

enter the number8
The factors are => 8

In [26]:
#to check prime or not
n=int(input("Enter the number"))
a=0
for i in range(2,n//2):
  if(n%i==0):
    a+=1
    break

if(a==0):
  print("prime")

else:
  print(" not a prime")

Enter the number9
 not a prime

In [27]:
#to print prime numbers upto

n=int(input("enter the number"))

for num in range(2,n+1):
  count=0

  for i in range(1,num+1):
    if(num%i==0):
      count+=1
  if(count==2):
    print(num,"is a prime number")

enter the number11
2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number

In [30]:
#TO check whether number is a armstrong
num=int(input("Enter the number"))
length=len(str(num))
print(length)
num1=num
sum=0
while(num>0):
  digit=num%10
  sum+=digit**length
  num=num//10
print("sum is =>",sum)

if(sum==num1):
  print("Armstrong")

else:
  print("Not a Armstrong")

Enter the number153
3
sum is => 153
Armstrong

In [34]:
#Perfect Number
n=int(input("enter the number"))
sum=0
for i in range(1,n):
  if(n%i==0):
    sum+=i
print(sum)

if(sum==n):
  print("perfect number")

else:
  print("not a perfect number")

enter the number6
6
perfect number