In [ ]:
#Dictionary

In [ ]:
dic={1:["akki, aks@gmail"]}
print(dic)

{1: ['akki, aks@gmail']}

In [ ]:
#Multiple dict. can be added into  a list

#enumerate is the command to print together the index and values of a list

#used in a loop to access the list

In [ ]:
ques=[{"Q1":"What is the Father of india ?",
      "options":["A. Gandhi", "B. Salman", "C. salman"],
      "Ans":"Gandhi"},

    {"Q2":"What is the national animal of india ?",
        "options":["A. Peacock", "B. Lion", "C. Tiger"],
        "Ans":"tiger"}
]

for i,j in enumerate(ques):     #to acces the items index & values wise

  print(j)

{'Q1': 'What is the Father of india ?', 'options': ['A. Gandhi', 'B. Salman', 'C. salman'], 'Ans': 'Gandhi'}
{'Q2': 'What is the national animal of india ?', 'options': ['A. Peacock', 'B. Lion', 'C. Tiger'], 'Ans': 'tiger'}

In [ ]:
prizemoney=[1000,25000]
for i,q in enumerate(prizemoney):
  print(i,prizemoney[i])

0 1000
1 25000

In [ ]:
ques=[{"Questions":"What is the Father of india ?",
      "options":["A. Gandhi", "B. Salman", "C. salman"],
      "Ans":"A"},

    {"Questions":"What is the national animal of india ?",
        "options":["A. Peacock", "B. Lion", "C. Tiger"],
        "Ans":"C"}
]

print("Welcome to kaun Banega Crorpati")
total_winning=0
prizemoney=[1000,25000]
for i,q in enumerate(ques):
  print(f"The {i+1} questions for money {prizemoney[i]} is in front of you \n")
  print(q["Questions"])
  for option in q["options"]:
    print(option)

  user_input=input("choose the answer from A,B,C :  or Press Q for quit")
  user_input=user_input.upper()
  if(user_input=="Q"):
    print(f"Thank you for the game you won {total_winning}",)
    break
  if(user_input==q["Ans"] ):
    total_winning+=prizemoney[i]
    print(f"kya baat aap jeet chuke hai {total_winning}")

  else:
    print(f"uff aap haar gaye ")
    print(f"Game Overrrrr!!!")
    total_winning=0
    break

Welcome to kaun Banega Crorpati
The 1 questions for money 1000 is in front of you

What is the Father of india ?
A. Gandhi
B. Salman
C. salman
choose the answer from A,B,C :  or Press Q for quitc
uff aap haar gaye
Game Overrrrr!!!

In [ ]:
#Counting the number of elements in a list using dictionary
list=[10,20,10,40,50,30,50]
dict={}
for i in list:
  if (i in dict):
    dict[i]=dict[i]+1     #To update a values
  else:
    dict[i]=1
print(dict)

{10: 2, 20: 1, 40: 1, 50: 2, 30: 1}

In [ ]:
#Simple count program for a dictionary
d={10:1 ,20:1}
if(20 in d ):
  d[20]=d[20]+1
else:
  d[20]=1
print(d)

{10: 1, 20: 2}

In [ ]:
s="abc"
dic={}
#To find all the combinations possible with a
for i in range(0,4):
  data=""

  for j in range(0,i):
    print(i,j,s[j])
    data=data+s[j]
  print("data =>>",data)

  if(i in dic):
    dic[i].append(data)

  else:
    dic[i]=data

print(dic)

data =>>
1 0 a
data =>> a
2 0 a
2 1 b
data =>> ab
3 0 a
3 1 b
3 2 c
data =>> abc
{0: '', 1: 'a', 2: 'ab', 3: 'abc'}

In [ ]:

#TO print like ABC=>>>ZYX
s="ABC"
for i in s:
   result = ""
   for char in s:
        result += chr(155 - ord(char))

print(result)

ZYX

In [34]:
#PASCAL Triangle
x=1
temp=[]
mylist=[]
num=4
print("Pascal Triangle ")
for i in range(0,num):
  temp=[]
  for j in range(i,num):
    print(" ",end="")
  for k in range(0,i+1):
    if(k==i or k==0):
      print(1,end=" ")
      temp.append(1)
    else:
      t=mylist[i-1][k-1] + mylist[i-1][k]
      print(t,end=" ")
      temp.append(t)

  mylist.append(temp)
  print("")

print("list for the pascal triangle is =>>")
print(mylist)

Pascal Triangle
    1
   1 1
  1 2 1
 1 3 3 1
list for the pascal triangle is =>>
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]