In [4]:
#variable length => input can be of variable length

def facebook(*args):
  print(args)


facebook("akki","Single")

('akki', 'Single')

In [10]:
#Keyword variable argument => Can be of variable inputs but with keyword

def facebook1(**kwargs):
  print(kwargs)

facebook1(name="Akkki")
facebook1(college="Modi",married_status="Single")

{'name': 'Akkki'}
{'college': 'Modi', 'married_status': 'Single'}

In [11]:
#lambda function
#One line function
#anonymous function because they dont have the name

In [22]:
def func(x):
  print(x+10)
  return 0    #if this is not used the out will give none


out=func(15)
print("after function:",out)

25
after function: 0

In [19]:
(lambda x: x+10)(20)

30

In [20]:
a=lambda x:x+10
a(10)

20

In [23]:
def fun(s):
  num=s.split(" ")
  for i in num:
    print(i,i[0:2])

In [26]:
s=" hey hello user"
fun(s)

hey he
hello he
user us

In [29]:
#Same above logic with lambda function

a= lambda x:x[0:2]
for i in "hey hello user".split(" "):
  print(i,a(i))

hey he
hello he
user us

In [37]:
#to create a nested list if the element of list is even

numbers = [2, 5, 7]
a = [[i] if i % 2 == 0 else i for i in numbers]
print(a)

[[2], 5, 7]

In [45]:
list = [2, 5, 7]
x = [[i] for i in list if i == 2]
print(x)

[[2]]

In [50]:
#First Class Function

def fun():
  print("Tushar")

a=fun # Memory of function is assigned to a

print("a=>",a)

a()     # First class Function

a=> <function fun at 0x785a43108860>
Tushar

In [76]:
x = (lambda x: x + 10)(1)  # x will be 11
a = {x: x, "name": "Akshat", "gender": "male"}  # Map x to itself in the dictionary
print(a[x])  # Access the value of key x (which is 11)

11