<a href="https://colab.research.google.com/github/Akshat03082004/Python-Assignment/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Lists are mutable
#append , pop , update using index
mylist=[10,20,30,40,"abc"]
for index in range(0,len(mylist)):
  if(type(mylist[index])==int):
    print(mylist[index])

10
20
30
40

In [4]:
#MAXIMUM NUMBER
mylist=[10,20,30,40,14]
max=mylist[0]

for index in range(0,len(mylist)):

  print("before =>", mylist[index],max)

  if(mylist[index]>max):
    max=mylist[index]
    print("After condition => ",mylist[index],max)

before => 10 10
before => 20 10
After condition =>  20 20
before => 30 20
After condition =>  30 30
before => 40 30
After condition =>  40 40
before => 14 40

In [8]:
#Second largest
x=[10,20,30,40,35]
max=x[0]
smax=0

for index in range(0,len(x)):
  if(x[index]>max):
    smax=max
    max=x[index]

  elif(x[index]>smax):
    smax=x[index]

print("values =>",max,smax)

values => 40 35

In [9]:
#TOTAL
x=[1,2,3,4]
total=0
for index in range(0,len(x)):
  total=total+x[index]
print(total)

10

In [27]:
list=[10,20,30,40]
for i in range (0,1):


  for j in range (0,len(list)):
    print(list[i],list[j])

10 10
10 20
10 30
10 40

In [14]:
list=[10,20,30,40]
for i in range (0,len(list)):
  print(list[i])

10
20
30
40

In [32]:
list=[10,20,30,40,35]
for i in range(0,1):
  for j in range(1,len(list)):
    print(list[i],list[j])

10 20
10 30
10 40
10 35

In [37]:
list=[10,43,21,2,3,5,2,43,]


for i in range(0,len(list)):
    for j in range(i+1,len(list)):
        print(f"{list[i]}  :  {list[j]}")

10  :  43
10  :  21
10  :  2
10  :  3
10  :  5
10  :  2
10  :  43
43  :  21
43  :  2
43  :  3
43  :  5
43  :  2
43  :  43
21  :  2
21  :  3
21  :  5
21  :  2
21  :  43
2  :  3
2  :  5
2  :  2
2  :  43
3  :  5
3  :  2
3  :  43
5  :  2
5  :  43
2  :  43

In [39]:
list=[10,20,30,40,35]
total=50
for i in range(len(list)):
  for j in range(i+1,len(list)):
    if(list[i]+list[j]==total):
      print(list[i],list[j])

10 40
20 30

In [40]:
#Q2 Sum of elements in list
x=[10,20,30,40]
sum=0
for i in range(0,len(x)):
  sum+=x[i]
print(sum)

100

In [46]:
#Q3 reversing the list
l1=[1,2,3,4,5]
l2=[]
for i in range(len(l1)-1,-1,-1):
  l2.append(l1[i])
print("Before=>",l1)
print("After=>", l2)

Before=> [1, 2, 3, 4, 5]
After=> [5, 4, 3, 2, 1]

In [50]:
#Q4 Sorting in Asscending Order
list=[10,40,20,30,21]
for i in range(0,len(list)):
  for j in range(0,len(list)-i-1):
    if(list[j]>list[j+1]):
      list[j],list[j+1]=list[j+1],list[j]
print(list)

[10, 20, 21, 30, 40]

In [57]:
#Q5 Removing duplicate
x = [1, 2, 2, 3, 4, 4, 5]


y = []


for item in x:
    if item not in y:
       y.append(item)

# Print the result
print("Original list:", x)
print("New List:", y)

Original list: [1, 2, 2, 3, 4, 4, 5]
New List: [1, 2, 3, 4, 5]