<a href="https://colab.research.google.com/github/Akshat03082004/Python-Assignment/blob/main/Pattern_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(1,6-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  print("---Student",i)
  for j in range(1,i+1):
    print("SUbject",j)
  print()

---Student 1
SUbject 1

---Student 2
SUbject 1
SUbject 2

---Student 3
SUbject 1
SUbject 2
SUbject 3

---Student 4
SUbject 1
SUbject 2
SUbject 3
SUbject 4

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
for i in range(5,1,-1):
  for j in range(1,i):
    print(j,end=" ")
  print()

1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(4,1,-1):
  x=66
  for j in range(1,i):
    print(x,end=" ")
    x+=1
  print()

66 67 68
66 67
66

In [ ]:
for i in range(1,5):
  c=65
  for j in range(1,i+1):
    print(chr(c),end=" ")
    c+=1
  print()

A
A B
A B C
A B C D

In [ ]:
x=1
for i in range(4,1,-1):
  for j in range(1,i+1):
    print(x,end=" ")
    x+=1
  print()

1 2 3 4
5 6 7
8 9

In [ ]:
for i in range(5,0,-1):
  for j in range(0,5-i+1):
    print("?",end=" ")
  for k in range(1,i):
    print(k,end=" ")
  print()

? 1 2 3 4
? ? 1 2 3
? ? ? 1 2
? ? ? ? 1
? ? ? ? ?

In [ ]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print(j,end=" ")
  for k in range(1,i):
    print("*",end=" ")
  print()

1 2 3 4
1 2 3 *
1 2 * *
1 * * *

In [ ]:
for i in range(5,1,-1):
  a=65
  for j in range(1,5-i+1):
    print(j,end=" ")
  for k in range(1,i):
    print(chr(a),end=" ")
    a+=1
  print()

A B C D
1 A B C
1 2 A B
1 2 3 A